/* CSS styles here */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #333;
    --background-color: #f4f4f4;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.nav-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px 0px;
}

header {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}


nav a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    transition: color: 3s ease;
}

nav a:hover{
    color: var(--primary-color);
}

h1, h2 {
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}
